.dim-layer {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero__headline,
.hero__actions,
.tile__title,
.tile__text {
  position: relative;
  z-index: 2;
}

.site-header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px;
}

.brand {
  width: 148px;
  height: 105px;
}

.nav-links {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item_plain {
  list-style: none;
}

.nav-link_current {
  text-decoration: none;
}

.contact-info {
  max-width: 240px;
  justify-self: end;
  font-style: normal;
}

.hero {
  position: relative;
  padding: 165px 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/cover.jpg');
}

.hero__headline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  color: #fff;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.text-row_center {
  text-align: center;
}

.text-row_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.hero__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 106px;
}

.hero__tagline {
  margin: 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.cta-button {
  cursor: pointer;
  padding: 12px 32px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.gallery {
  padding: 180px 24px 120px;
}

.gallery__title {
  margin: 0;
  padding: 0 0 27px 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.gallery__item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.tile-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px 40px;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile__title {
  margin: 0;
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}

.tile__text {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.tile_theme_film {
  background-image: url('../images/card-lot-01.jpg');
}

.tile_theme_book {
  background-image: url('../images/card-lot-02.jpg');
}

.tile_theme_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.gallery__more {
  padding-left: 40px;
  color: #000;
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.about-section {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 49px;
  padding: 0 50px;
  margin-bottom: 180px;
}

.about-section__badge {
  width: 240px;
  height: 240px;
  margin: 35px 0 0 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000;
}

.about-section__badge-image {
  width: 148px;
  height: 114px;
}

.about-section__title {
  margin: 136px 0 75px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about-section__text {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.about-section__col {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.site-footer {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
  margin-bottom: 90px;
}

.footer__address {
  justify-self: start;
}

.footer-nav {
  justify-self: center;
}

.footer-nav__list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav__link {
  text-decoration: none;
}

.footer-nav__link_current {
  text-decoration: none;
}

.social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__icon {
  width: 48px;
  height: 48px;
}

.text-on-dark {
  color: #fff;
}

.is-uppercase {
  text-transform: uppercase;
}